<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Race</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Create Race</h1>
        <form action="{{ url_for('create_race') }}" method="POST">
            <div class="mb-3">
                <label for="raceName" class="form-label">Race Name</label>
                <input type="text" class="form-control" id="raceName" name="raceName" required>
            </div>

            <div class="mb-3">
                <label for="raceDate" class="form-label">Race Date</label>
                <input type="date" class="form-control" id="raceDate" name="raceDate" required>
            </div>

            <h4>Boats to Add to Race</h4>
            <div class="list-group">
                {% for boat in boat_list %}
                <div class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5>{{ boat.name }}</h5>
                            {% for user in users %}
                                {% if user.id == boat.user_id %}
                            <p>Owner: {{ user.username }}</p>
                                {% endif %}
                            {% endfor %} 
                        </div>

                        <div>
                            <label for="boat{{ boat.id }}_handicap" class="form-label">Select Handicap</label>
                            <select id="boat{{ boat.id }}_handicap" name="boat_{{ boat.id }}_handicap" class="form-select">
                                {% for boat_type in boat_types %}
                                    {% if boat.type_id == boat_type.id %}
                                        <option value="{{ boat_type.srs }}" {% if boat_type.srs == boat.srs %}selected{% endif %}>
                                            {{ boat_type.name }} (SRS: {{ boat_type.srs }})
                                        </option>
                                        <option value="{{ boat_type.srs_ns }}" {% if boat_type.srs_ns == boat.srs_ns %}selected{% endif %}>
                                            {{ boat_type.name }} (No Downwind Sail: SRS: {{ boat_type.srs_ns }})
                                        </option>
                                        <option value="{{ boat_type.srs_sh }}" {% if boat_type.srs_sh == boat.srs_sh %}selected{% endif %}>
                                            {{ boat_type.name }} (Shorthanded: SRS: {{ boat_type.srs_sh }})
                                        </option>
                                        <option value="{{ boat_type.srs_sh_ns }}" {% if boat_type.srs_sh_ns == boat.srs_sh_ns %}selected{% endif %}>
                                            {{ boat_type.name }} (Shorthanded No Downwind Sail: SRS: {{ boat_type.srs_sh_ns }})
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            
                        </div>

                        <div>
                            <input type="checkbox" id="boat{{ boat.id }}" name="boats" value="{{ boat.id }}">
                            <label for="boat{{ boat.id }}">Add to Race</label>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Create Race</button>
                <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>